#__toastmynuts__ {
    --_gap: 16px;

    position: fixed;

    width: 95%;
    height: 95%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
    touch-action: none;

    z-index: 999;
}

#__toastmynuts__[data-position-x="left"] .__toastmynuts__toast {
    left: 0;
}

#__toastmynuts__[data-position-x="right"] .__toastmynuts__toast {
    right: 0;
}

#__toastmynuts__[data-position-x="middle"] .__toastmynuts__toast {
    left: 0;
    right: 0;
    margin-inline: auto;
}

#__toastmynuts__[data-position-y="top"] .__toastmynuts__toast {
    top: 0;
    --_dir_y: 1;
}

#__toastmynuts__[data-position-y="bottom"] .__toastmynuts__toast {
    bottom: 0;
    --_dir_y: -1;
}

#__toastmynuts__ .__toastmynuts__toast {
    width: var(--_toastmynuts-tw, min(100%, 20rem));

    position: absolute;

    pointer-events: all;
    touch-action: auto;

    will-change: transform, opacity, visibility;
    transition-property: transform, opacity, visibility;
    transition-duration: var(--_toastmynuts-td, 250ms);
    transition-timing-function: ease;

    transform: translateX(var(--_x, 0)) translateY(var(--_y, 0)) scale(var(--_scale, 1)) rotate(var(--_rotate, 0deg));

    --_gap-height: calc(var(--_idx) * var(--_gap, 0px));
    --_lift: calc(var(--_gap-height) * var(--_dir_y));
    --_offset: calc(var(--_lift) + (var(--_height-offset, 0px)));
    --_y: var(--_offset);

    color: var(--_toastmynuts-fg, var(--_toastmynuts-default-fg));
    background-color: var(--_toastmynuts-bg, var(--_toastmynuts-default-bg));

    border-radius: var(--_toastmynuts-br, 0.5rem);

    box-shadow:
        0px 1px 1px hsl(0 0% 0% / 0.25),
        0px 2px 2px hsl(0 0% 0% / 0.25),
        0px 4px 4px hsl(0 0% 0% / 0.25),
        0px 8px 8px hsl(0 0% 0% / 0.25);

    z-index: var(--_z-idx);

    padding: 0.5rem 1rem;

    display: flex;
    gap: 1rem;
}

#__toastmynuts__ .__toastmynuts__toast .__toastmynuts__message {
    flex-grow: 1;

    font-weight: 500;
}

#__toastmynuts__ .__toastmynuts__toast .__toastmynuts__close-btn {
    flex-shrink: 0;

    padding: 0.25rem;

    width: 1.5rem;
    height: 1.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    border: none;

    cursor: pointer;

    color: var(--_toastmynuts-fg, var(--_toastmynuts-default-fg));
}

#__toastmynuts__ .__toastmynuts__toast .__toastmynuts__close-btn svg {
    width: 1rem;
    height: 1rem;
}

#__toastmynuts__ .__toastmynuts__toast[data-toast-state="entering"],
#__toastmynuts__ .__toastmynuts__toast[data-toast-state="closing"] {
    --_y: calc(var(--_offset) - (100% * var(--_dir_y)));
}

#__toastmynuts__ .__toastmynuts__toast[data-toast-state="entering"],
#__toastmynuts__ .__toastmynuts__toast[data-toast-state="hidden"],
#__toastmynuts__ .__toastmynuts__toast[data-toast-state="closing"] {
    opacity: 0;
    visibility: hidden;
}

@media (prefers-color-scheme: dark) {
    #__toastmynuts__ .__toastmynuts__toast {
        --_toastmynuts-default-bg: #212121;
        --_toastmynuts-default-fg: #fff;
    }
}

#__toasatmynuts__ .__toastmynuts__toast[data-theme="light"] {
    --_toastmynuts-default-bg: #fff;
    --_toastmynuts-default-fg: #000;
}

#__toastmynuts__ .__toastmynuts__toast[data-theme="dark"] {
    --_toastmynuts-default-bg: #212121;
    --_toastmynuts-default-fg: #fff;
}